@import "common.scss";
@import "_minix.scss";
.wrap {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.cont {
    width: 100%;
    .list {
        width: 100;
        li {
            width: 100%;
            h3 {
                background: #ccc;
                padding: pxTorem(5px) pxTorem(10px);
                @include sizing;
                font-weight: 600;
                font-size: pxTorem(14px);
            }
            ol {
                width: 100%;
                li {
                    width: 100%;
                    height: pxTorem(44px);
                    line-height: pxTorem(44px);
                    border-bottom: thin solid #ccc;
                    padding: 0 pxTorem(10px);
                    @include sizing;
                }
            }
        }
    }
}

.side {
    position: fixed;
    top: pxTorem(100px);
    right: pxTorem(10px);
    background: #ccc;
    li {
        padding: pxTorem(3px);
    }
}

.box {
    width: pxTorem(50px);
    height: pxTorem(50px);
    line-height: pxTorem(50px);
    text-align: center;
    font-size: pxTorem(16px);
    font-weight: 600;
    background: #ccc;
    border-radius: pxTorem(10px);
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: none;
}